In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os

import numpy as np
import pandas as pd

import seaborn as sns 
import matplotlib.pyplot as plt

plt.rcParams['figure.figsize']=(10,10)

import warnings
warnings.filterwarnings(action='ignore')

## 1. 데이터 불러오기

In [3]:
raw_data = pd.read_csv('/content/drive/MyDrive/신입기수 프로젝트/Dataset/rawdata.csv')
raw_data

,날짜,현재수위,유입량,저수량,공용량,방류량,강화대교_조위,청담대교_유량,잠수교_유량,한강대교_유량,행주대교_유량,대곡교_강수량,진관교_강수량,송정동_강수량,청담대교_수위,잠수교_수위,한강대교_수위,행주대교_수위
0,2012-05-01 00:00,24.800,555.00,219.07,24.93,555.00,445.0,469.05,0.0,729.80,540.18,0.0,0.0,0.0,310.7,300.2,290.0,275.3
1,2012-05-01 00:10,24.794,464.60,218.86,25.15,562.90,449.0,498.00,0.0,731.48,540.18,0.0,0.0,0.0,314.7,300.2,290.0,275.3
2,2012-05-01 00:20,24.789,478.10,218.69,25.31,576.40,451.0,490.68,0.0,726.42,540.18,0.0,0.0,0.0,313.7,301.2,290.0,275.3
3,2012-05-01 00:30,24.789,464.80,218.69,25.31,563.10,452.0,476.21,0.0,726.42,552.17,0.0,0.0,0.0,311.7,301.2,290.0,276.3
4,2012-05-01 00:40,24.789,478.10,218.69,25.31,576.40,450.0,476.21,0.0,707.17,564.29,0.0,0.0,0.0,311.7,301.2,291.0,277.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276331,2022-07-18 23:10,25.040,259.23,212.86,31.14,259.23,510.0,319.84,NaN,-456.41,974.40,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276332,2022-07-18 23:20,25.040,260.46,212.86,31.14,260.46,492.0,314.01,NaN,-717.30,1006.88,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276333,2022-07-18 23:30,25.040,259.37,212.86,31.14,259.37,475.0,387.55,NaN,-843.37,1039.90,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276334,2022-07-18 23:40,25.040,259.13,212.86,31.14,259.13,458.0,454.91,NaN,-1023.37,1073.46,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276335,2022-07-18 23:50,25.040,258.16,212.86,31.14,258.16,442.0,582.21,NaN,-1049.44,1090.45,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#유입량, 저수량 제거

In [4]:
raw_data_ = raw_data.drop(raw_data[['유입량','저수량']], axis = 1)
raw_data_

,날짜,현재수위,공용량,방류량,강화대교_조위,청담대교_유량,잠수교_유량,한강대교_유량,행주대교_유량,대곡교_강수량,진관교_강수량,송정동_강수량,청담대교_수위,잠수교_수위,한강대교_수위,행주대교_수위
0,2012-05-01 00:00,24.800,24.93,555.00,445.0,469.05,0.0,729.80,540.18,0.0,0.0,0.0,310.7,300.2,290.0,275.3
1,2012-05-01 00:10,24.794,25.15,562.90,449.0,498.00,0.0,731.48,540.18,0.0,0.0,0.0,314.7,300.2,290.0,275.3
2,2012-05-01 00:20,24.789,25.31,576.40,451.0,490.68,0.0,726.42,540.18,0.0,0.0,0.0,313.7,301.2,290.0,275.3
3,2012-05-01 00:30,24.789,25.31,563.10,452.0,476.21,0.0,726.42,552.17,0.0,0.0,0.0,311.7,301.2,290.0,276.3
4,2012-05-01 00:40,24.789,25.31,576.40,450.0,476.21,0.0,707.17,564.29,0.0,0.0,0.0,311.7,301.2,291.0,277.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276331,2022-07-18 23:10,25.040,31.14,259.23,510.0,319.84,NaN,-456.41,974.40,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276332,2022-07-18 23:20,25.040,31.14,260.46,492.0,314.01,NaN,-717.30,1006.88,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276333,2022-07-18 23:30,25.040,31.14,259.37,475.0,387.55,NaN,-843.37,1039.90,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276334,2022-07-18 23:40,25.040,31.14,259.13,458.0,454.91,NaN,-1023.37,1073.46,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276335,2022-07-18 23:50,25.040,31.14,258.16,442.0,582.21,NaN,-1049.44,1090.45,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
raw_data_.isnull().sum()

날짜              0
현재수위          743
공용량           743
방류량           743
강화대교_조위      4927
청담대교_유량     16380
잠수교_유량     196849
한강대교_유량      1279
행주대교_유량        59
대곡교_강수량         0
진관교_강수량         0
송정동_강수량         0
청담대교_수위        59
잠수교_수위         59
한강대교_수위        59
행주대교_수위        59
dtype: int64

#팔당댐 결측치 처리 - 보간

In [6]:
팔당처리 = raw_data_[['현재수위', '공용량', '방류량']].interpolate(method = 'linear' , limit_direction = 'forward')
팔당처리

          현재수위    공용량     방류량
0       24.800  24.93  555.00
1       24.794  25.15  562.90
2       24.789  25.31  576.40
3       24.789  25.31  563.10
4       24.789  25.31  576.40
...        ...    ...     ...
276331  25.040  31.14  259.23
276332  25.040  31.14  260.46
276333  25.040  31.14  259.37
276334  25.040  31.14  259.13
276335  25.040  31.14  258.16

[276336 rows x 3 columns]

In [7]:
팔당처리df = pd.concat([raw_data_.drop(팔당처리.columns, axis = 1), 팔당처리], axis=1)
팔당처리df

,날짜,강화대교_조위,청담대교_유량,잠수교_유량,한강대교_유량,행주대교_유량,대곡교_강수량,진관교_강수량,송정동_강수량,청담대교_수위,잠수교_수위,한강대교_수위,행주대교_수위,현재수위,공용량,방류량
0,2012-05-01 00:00,445.0,469.05,0.0,729.80,540.18,0.0,0.0,0.0,310.7,300.2,290.0,275.3,24.800,24.93,555.00
1,2012-05-01 00:10,449.0,498.00,0.0,731.48,540.18,0.0,0.0,0.0,314.7,300.2,290.0,275.3,24.794,25.15,562.90
2,2012-05-01 00:20,451.0,490.68,0.0,726.42,540.18,0.0,0.0,0.0,313.7,301.2,290.0,275.3,24.789,25.31,576.40
3,2012-05-01 00:30,452.0,476.21,0.0,726.42,552.17,0.0,0.0,0.0,311.7,301.2,290.0,276.3,24.789,25.31,563.10
4,2012-05-01 00:40,450.0,476.21,0.0,707.17,564.29,0.0,0.0,0.0,311.7,301.2,291.0,277.3,24.789,25.31,576.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276331,2022-07-18 23:10,510.0,319.84,NaN,-456.41,974.40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.040,31.14,259.23
276332,2022-07-18 23:20,492.0,314.01,NaN,-717.30,1006.88,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.040,31.14,260.46
276333,2022-07-18 23:30,475.0,387.55,NaN,-843.37,1039.90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.040,31.14,259.37
276334,2022-07-18 23:40,458.0,454.91,NaN,-1023.37,1073.46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.040,31.14,259.13
276335,2022-07-18 23:50,442.0,582.21,NaN,-1049.44,1090.45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.040,31.14,258.16

#시간차 적용을 위한 4월 데이터(조위df) 불러오기

In [8]:
from glob import glob

w_list = sorted(glob("/content/drive/MyDrive/팔당댐 데이콘_개인/dam/*.csv"))
w_list

['/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2012.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2013.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2014.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2015.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2016.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2017.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2018.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2019.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2020.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2021.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2022.csv']

In [9]:
idx = [0]
for i in range(287):
  idx.append(i)

In [10]:
idx2 = []
for i in range(12):
  idx2.append(i*288)

In [11]:
tmp3 = []

for i in range(11):
  a = pd.read_csv(w_list[i], encoding='cp949', usecols = [0,1])
  tmp3.append(a.iloc[idx].set_index(pd.Index(list(range(i+idx2[i],i+idx2[i]+288)))))

팔당df = pd.concat([tmp3[0],tmp3[1],tmp3[2],tmp3[3],tmp3[4],tmp3[5],tmp3[6],tmp3[7],tmp3[8],tmp3[9],tmp3[10]])
팔당df.columns = ['날짜', '현재수위']
팔당df

                    날짜    현재수위
0      2012-04-29 0:00   24.86
1      2012-04-29 0:00   24.86
2      2012-04-29 0:10  24.859
3      2012-04-29 0:20  24.859
4      2012-04-29 0:30  24.859
...                ...     ...
3173  2022-04-30 23:00   25.19
3174  2022-04-30 23:10   25.19
3175  2022-04-30 23:20   25.19
3176  2022-04-30 23:30   25.19
3177  2022-04-30 23:40   25.19

[3168 rows x 2 columns]

In [12]:
팔당df[팔당df['현재수위']=='-']

                    날짜 현재수위
1087  2015-04-30 12:30    -
2115  2019-04-29 15:10    -
2988  2022-04-29 16:10    -

In [16]:
팔당df.loc[1087]['현재수위'] = 25.27
팔당df.loc[2115]['현재수위'] = 25.1
팔당df.loc[2988]['현재수위'] = 25.1

#다리별 시간차 계산

In [17]:
idx3 = []
for i in range(12):
  idx3.append(i*26496)

In [20]:
ttmp = []
for i in range(0, 288): 
  
  push_num = i
  
  tmp = []
  for j in range(11):
    if j != 10:
      tmp.append(pd.concat([팔당df[idx2[j+1]-push_num:idx2[j+1]],팔당처리df[idx3[j]:idx3[j+1]-push_num][['날짜','현재수위']]], ignore_index=True))
    else:
      tmp.append(pd.concat([팔당df[idx2[j+1]-push_num:idx2[j+1]],팔당처리df[idx3[j]:-push_num][['날짜','현재수위']]], ignore_index=True))

  push_result = pd.concat(
        [tmp[0],tmp[1],tmp[2],tmp[3],tmp[4],tmp[5],tmp[6],tmp[7],tmp[8],tmp[9],tmp[10]], ignore_index=True
    )

  mm = pd.concat([push_result[['현재수위']],팔당처리df[['청담대교_수위','잠수교_수위', '한강대교_수위', '행주대교_수위']]], axis=1)
  mm['현재수위'] = mm['현재수위'].astype(float, errors = 'raise')
  nn = mm[:269424]
  push_cor2 = nn.corr()
  
  
  print(i, push_cor2.iloc[:,0][2]) #마지막 원소 변경 1,2,3,4
  ttmp.append(push_cor2.iloc[:,0][2])

  #1번: 청담대교 15 0.8970553300325268
  #2번: 잠수교   19 0.8748510916903229
  #3번: 한강대교 20 0.8635804208734675
  #4번: 행주대교 21 0.8088005740767352
  #시간적 순서가 직관과 맞음

  #하나만 꼽으라면 19
  #print(i, push_cor2.sum()[0])
  #ttmp.append(push_cor2.sum()[0])

0 -0.10944235199579065
1 -0.11060207405861462
2 -0.11062682493002128
3 -0.11076286961485775
4 -0.11097232311622984
5 -0.11120537344273841
6 -0.11141711351922678
7 -0.11161122771023294
8 -0.11176408892512278
9 -0.11200574465559035
10 -0.11224981534386483
11 -0.11246391027368487
12 -0.11264180999119788
13 -0.11281010040860254
14 -0.11289002304596728
15 -0.11302964748012184
16 -0.11314877672853833
17 -0.11326283221937962
18 -0.11336718822505941
19 -0.11345811822682812
20 -0.11346515736525377
21 -0.11353633872112892
22 -0.11361680812273293
23 -0.11366107929188407
24 -0.1137041245543957
25 -0.11373759443293203
26 -0.11367479355700129
27 -0.11366717558722314
28 -0.11365187544097301
29 -0.11362704822812034
30 -0.11360524105564822
31 -0.11356902625166507
32 -0.11345216672829425
33 -0.11337489453880188
34 -0.11332744775670858
35 -0.11326711054223883
36 -0.11321287462141319
37 -0.11315470771367193
38 -0.11302508699662185
39 -0.11291788071628898
40 -0.11284729628347263
41 -0.11276912362438235
42 -0.11270777723161853
43 -0.11264252591438054
44 -0.11250903752903416
45 -0.11239900675268025
46 -0.11232358173934588
47 -0.1122316931428301
48 -0.11217839270182445
49 -0.11211669760016774
50 -0.11198737386185897
51 -0.11186893901165929
52 -0.11179254894897264
53 -0.11170422737873564
54 -0.11164298671154015
55 -0.1116010891315425
56 -0.11149203858559815
57 -0.11137883321245154
58 -0.11132291258598867
59 -0.11124067659961452
60 -0.11121796578577356
61 -0.1111945241361294
62 -0.11109861218500562
63 -0.1110102142575178
64 -0.11095229673601213
65 -0.11078391537204672
66 -0.11066163889587244
67 -0.11052845355175668
68 -0.1103669083181334
69 -0.11011894953745309
70 -0.10987761291043664
71 -0.10954388389480335
72 -0.10928422850337054
73 -0.10901597834417143
74 -0.10870724059086113
75 -0.10837681077581698
76 -0.10813521256035823
77 -0.10786701163117718
78 -0.10770263865376942
79 -0.10756391255198688
80 -0.10742790545509995
81 -0.10731439929470285
82 -0.10728935235616742
83 -0.10722812509133187
84 -0.1072193024014706
85 -0.10719695330224924
86 -0.10719615667313472
87 -0.10716940895613788
88 -0.10719427761992056
89 -0.10718000779292637
90 -0.10720662030733479
91 -0.10724631106760707
92 -0.1073233084772477
93 -0.10735530127116953
94 -0.10744892147762566
95 -0.1075205665370004
96 -0.10758334826430464
97 -0.10761553441636719
98 -0.10768129751149152
99 -0.10771430570181095
100 -0.10781528184684744
101 -0.10789160609680175
102 -0.10794526417612137
103 -0.10799931446370599
104 -0.10812528529618405
105 -0.10824539573687526
106 -0.10842727520125901
107 -0.10862408970833456
108 -0.10881889059628333
109 -0.10902502630445425
110 -0.109302487325277
111 -0.10957254875997124
112 -0.10990221319502516
113 -0.11025738718478738
114 -0.11058557091502384
115 -0.11092505620470716
116 -0.11134146417530372
117 -0.11172731584367838
118 -0.11219148321164756
119 -0.11267156651421899
120 -0.11311594520294903
121 -0.11357014165577653
122 -0.11407833818191983
123 -0.11454864913109641
124 -0.11508512555724437
125 -0.11563748139860516
126 -0.11612001758683271
127 -0.11658989818689551
128 -0.11712267643902573
129 -0.11763752920861739
130 -0.11821034091389139
131 -0.11879817993970367
132 -0.11931436299566468
133 -0.1198288877827191
134 -0.12040958205344558
135 -0.12097076321439548
136 -0.12158129589184762
137 -0.12221078896960273
138 -0.12276557503425538
139 -0.123340561550688
140 -0.12399187383711142
141 -0.12465174496865833
142 -0.1253095456523075
143 -0.1259555029982452
144 -0.12655271362017853
145 -0.12719745078248426
146 -0.12793381773799514
147 -0.1286940026432736
148 -0.12941437913381978
149 -0.1301544184118219
150 -0.13088124584408437
151 -0.1316573165014654
152 -0.13253238474198675
153 -0.13341328919288292
154 -0.13426412159918738
155 -0.13511109819003492
156 -0.1359161324810361
157 -0.13673385108612843
158 -0.137612918393216
159 -0.13848196574337487
160 -0.13931468506011743
161 -0.14012638667988458
162 -0.14088778975616692
163 -0.14166349044251383
164 -0.14250249735182013
165 -0.14333084413386427
166 -0.14411508836974912
167 -0.1448659718890944
168 -0.14556603155652428
169 -0.14630068284867037
170 -0.14701620583396893
171 -0.1477049542963485
172 -0.14837031764752132
173 -0.14902171676380616
174 -0.1495836990062109
175 -0.15013574681448938
176 -0.15067818734050542
177 -0.1512202171509294
178 -0.15173340279958827
179 -0.15221913544927668
180 -0.15263752737970757
181 -0.15305335039200743
182 -0.15345791914505275
183 -0.1539060022843569
184 -0.15431738990953597
185 -0.15467026064282585
186 -0.15499225528614352
187 -0.15527623136075724
188 -0.15558208809375249
189 -0.15593864338642716
190 -0.15625523113910422
191 -0.1565231834703826
192 -0.15674509608105772
193 -0.15696333832061657
194 -0.1571874505818634
195 -0.15746090330436321
196 -0.1576986047110651
197 -0.1578751778365797
198 -0.15800874297096584
199 -0.158138542028796
200 -0.15826876309817317
201 -0.15844103279685695
202 -0.15860527648001294
203 -0.15870146670694685
204 -0.1587520302880357
205 -0.15878958177360775
206 -0.1588106754607153
207 -0.158895223655597
208 -0.1589464489477569
209 -0.15893335131061806
210 -0.15886797783875045
211 -0.1587617462391322
212 -0.15862261010384204
213 -0.158516899157515
214 -0.1583710729648016
215 -0.1581625714862169
216 -0.15789275039325398
217 -0.15761224817083191
218 -0.1573082174188682
219 -0.15704653827396567
220 -0.15678456636960145
221 -0.15650070774052993
222 -0.15619492276102143
223 -0.15590914817964557
224 -0.15565396097661172
225 -0.15546018587685687
226 -0.15528942536100315
227 -0.15508593371424786
228 -0.15486806025826266
229 -0.15465165009859727
230 -0.15445021171112405
231 -0.1543081859991993
232 -0.1541638494106526
233 -0.15398103571750854
234 -0.15377912891699821
235 -0.15357036805950416
236 -0.1533676631265802
237 -0.1532280844889749
238 -0.15306369793677932
239 -0.15286529823567366
240 -0.15265286519354135
241 -0.15243326179022784
242 -0.15221948679767366
243 -0.1520382682875926
244 -0.1518327071806522
245 -0.15160359088010616
246 -0.15135008739522973
247 -0.1510873550012374
248 -0.15083406876571614
249 -0.15061387254724387
250 -0.1503800104846228
251 -0.1501316713686472
252 -0.14985544939147116
253 -0.14958614303464213
254 -0.14934743608283382
255 -0.149111995065729
256 -0.14887019235224008
257 -0.14859572573466612
258 -0.14832712057230457
259 -0.14804385962502264
260 -0.1477701456797422
261 -0.1475205153186899
262 -0.14726039691986625
263 -0.14697482974932816
264 -0.14668417538310508
265 -0.14639573230169567
266 -0.14610748481032276
267 -0.14583786180093083
268 -0.1455493968925149
269 -0.14524214526570725
270 -0.14492863187606903
271 -0.14461160009784646
272 -0.14430851660016955
273 -0.14402399336162222
274 -0.1437022968636037
275 -0.14337150420267694
276 -0.14303449851226024
277 -0.14268235171581872
278 -0.14235540347562914
279 -0.1420386057719223
280 -0.14167733340213493
281 -0.1413115711300168
282 -0.14093976354283783
283 -0.14055809158774646
284 -0.14020883938112005
285 -0.1398668253946626
286 -0.13948386673665006
287 -0.13910514525436088

In [21]:
max(ttmp)

-0.10716940895613788

#파일 저장

In [ ]:
push_num = 19
  
tmp = []
for j in range(11):
  if j != 10:
    tmp.append(pd.concat([팔당df[idx2[j+1]-push_num:idx2[j+1]],팔당처리df[idx3[j]:idx3[j+1]-push_num][['날짜','방류량']]], ignore_index=True))
  else:
    tmp.append(pd.concat([팔당df[idx2[j+1]-push_num:idx2[j+1]],팔당처리df[idx3[j]:-push_num][['날짜','방류량']]], ignore_index=True))

push_result = pd.concat(
      [tmp[0],tmp[1],tmp[2],tmp[3],tmp[4],tmp[5],tmp[6],tmp[7],tmp[8],tmp[9],tmp[10]], ignore_index=True
)

mm = pd.concat([push_result[['방류량']],팔당처리df[['청담대교_수위','잠수교_수위', '한강대교_수위', '행주대교_수위']]], axis=1)
mm['방류량'] = mm['방류량'].astype(float, errors = 'raise')
nn = mm[:269424]
push_cor2 = nn.corr()
push_cor2

              방류량   청담대교_수위    잠수교_수위   한강대교_수위   행주대교_수위
방류량      1.000000  0.896629  0.874851  0.863579  0.808652
청담대교_수위  0.896629  1.000000  0.991150  0.990986  0.949497
잠수교_수위   0.874851  0.991150  1.000000  0.995218  0.957848
한강대교_수위  0.863579  0.990986  0.995218  1.000000  0.972335
행주대교_수위  0.808652  0.949497  0.957848  0.972335  1.000000

In [ ]:
result = push_result.방류량
result

0          575.7
1          575.3
2          555.0
3          575.7
4          575.4
           ...
276331    258.67
276332    258.58
276333    258.56
276334    258.65
276335    258.09
Name: 방류량, Length: 276336, dtype: object

In [ ]:
result.to_csv("방류량 for 전체.csv", index = False, encoding = 'cp949')