In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os

import numpy as np
import pandas as pd

import seaborn as sns 
import matplotlib.pyplot as plt

plt.rcParams['figure.figsize']=(10,10)

import warnings
warnings.filterwarnings(action='ignore')

## 1. 데이터 불러오기

In [ ]:
raw_data = pd.read_csv('/content/drive/MyDrive/신입기수 프로젝트/Dataset/rawdata.csv')
raw_data

,날짜,현재수위,유입량,저수량,공용량,방류량,강화대교_조위,청담대교_유량,잠수교_유량,한강대교_유량,행주대교_유량,대곡교_강수량,진관교_강수량,송정동_강수량,청담대교_수위,잠수교_수위,한강대교_수위,행주대교_수위
0,2012-05-01 00:00,24.800,555.00,219.07,24.93,555.00,445.0,469.05,0.0,729.80,540.18,0.0,0.0,0.0,310.7,300.2,290.0,275.3
1,2012-05-01 00:10,24.794,464.60,218.86,25.15,562.90,449.0,498.00,0.0,731.48,540.18,0.0,0.0,0.0,314.7,300.2,290.0,275.3
2,2012-05-01 00:20,24.789,478.10,218.69,25.31,576.40,451.0,490.68,0.0,726.42,540.18,0.0,0.0,0.0,313.7,301.2,290.0,275.3
3,2012-05-01 00:30,24.789,464.80,218.69,25.31,563.10,452.0,476.21,0.0,726.42,552.17,0.0,0.0,0.0,311.7,301.2,290.0,276.3
4,2012-05-01 00:40,24.789,478.10,218.69,25.31,576.40,450.0,476.21,0.0,707.17,564.29,0.0,0.0,0.0,311.7,301.2,291.0,277.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276331,2022-07-18 23:10,25.040,259.23,212.86,31.14,259.23,510.0,319.84,NaN,-456.41,974.40,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276332,2022-07-18 23:20,25.040,260.46,212.86,31.14,260.46,492.0,314.01,NaN,-717.30,1006.88,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276333,2022-07-18 23:30,25.040,259.37,212.86,31.14,259.37,475.0,387.55,NaN,-843.37,1039.90,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276334,2022-07-18 23:40,25.040,259.13,212.86,31.14,259.13,458.0,454.91,NaN,-1023.37,1073.46,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276335,2022-07-18 23:50,25.040,258.16,212.86,31.14,258.16,442.0,582.21,NaN,-1049.44,1090.45,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
raw_data.isnull().sum()

날짜              0
현재수위          743
유입량           743
저수량           743
공용량           743
방류량           743
강화대교_조위      4927
청담대교_유량     16380
잠수교_유량     196849
한강대교_유량      1279
행주대교_유량        59
대곡교_강수량         0
진관교_강수량         0
송정동_강수량         0
청담대교_수위        59
잠수교_수위         59
한강대교_수위        59
행주대교_수위        59
dtype: int64

#팔당댐 결측치 처리 - 보간

In [ ]:
팔당처리 = pd.read_csv('/content/drive/MyDrive/신입기수 프로젝트/Dataset/0822_팔당댐_Arima.csv', encoding = 'cp949', usecols=[1,2,3])
팔당처리

          공용량    현재수위     방류량
0       24.93  24.800  555.00
1       25.15  24.794  562.90
2       25.31  24.789  576.40
3       25.31  24.789  563.10
4       25.31  24.789  576.40
...       ...     ...     ...
276331  31.14  25.040  259.23
276332  31.14  25.040  260.46
276333  31.14  25.040  259.37
276334  31.14  25.040  259.13
276335  31.14  25.040  258.16

[276336 rows x 3 columns]

In [ ]:
팔당처리df = pd.concat([raw_data.drop(팔당처리.columns, axis = 1), 팔당처리], axis=1)
팔당처리df

,날짜,유입량,저수량,강화대교_조위,청담대교_유량,잠수교_유량,한강대교_유량,행주대교_유량,대곡교_강수량,진관교_강수량,송정동_강수량,청담대교_수위,잠수교_수위,한강대교_수위,행주대교_수위,공용량,현재수위,방류량
0,2012-05-01 00:00,555.00,219.07,445.0,469.05,0.0,729.80,540.18,0.0,0.0,0.0,310.7,300.2,290.0,275.3,24.93,24.800,555.00
1,2012-05-01 00:10,464.60,218.86,449.0,498.00,0.0,731.48,540.18,0.0,0.0,0.0,314.7,300.2,290.0,275.3,25.15,24.794,562.90
2,2012-05-01 00:20,478.10,218.69,451.0,490.68,0.0,726.42,540.18,0.0,0.0,0.0,313.7,301.2,290.0,275.3,25.31,24.789,576.40
3,2012-05-01 00:30,464.80,218.69,452.0,476.21,0.0,726.42,552.17,0.0,0.0,0.0,311.7,301.2,290.0,276.3,25.31,24.789,563.10
4,2012-05-01 00:40,478.10,218.69,450.0,476.21,0.0,707.17,564.29,0.0,0.0,0.0,311.7,301.2,291.0,277.3,25.31,24.789,576.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276331,2022-07-18 23:10,259.23,212.86,510.0,319.84,NaN,-456.41,974.40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.14,25.040,259.23
276332,2022-07-18 23:20,260.46,212.86,492.0,314.01,NaN,-717.30,1006.88,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.14,25.040,260.46
276333,2022-07-18 23:30,259.37,212.86,475.0,387.55,NaN,-843.37,1039.90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.14,25.040,259.37
276334,2022-07-18 23:40,259.13,212.86,458.0,454.91,NaN,-1023.37,1073.46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.14,25.040,259.13
276335,2022-07-18 23:50,258.16,212.86,442.0,582.21,NaN,-1049.44,1090.45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,31.14,25.040,258.16

#시간차 적용을 위한 4월 데이터(조위df) 불러오기

In [ ]:
from glob import glob

w_list = sorted(glob("/content/drive/MyDrive/팔당댐 데이콘_개인/dam/*.csv"))
w_list

['/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2012.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2013.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2014.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2015.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2016.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2017.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2018.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2019.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2020.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2021.csv',
 '/content/drive/MyDrive/팔당댐 데이콘_개인/dam/2022.csv']

In [ ]:
idx = [0]
for i in range(287):
  idx.append(i)

In [ ]:
idx2 = []
for i in range(12):
  idx2.append(i*288)

In [ ]:
tmp3 = []

for i in range(11):
  a = pd.read_csv(w_list[i], encoding='cp949', usecols = [0,3])
  tmp3.append(a.iloc[idx].set_index(pd.Index(list(range(i+idx2[i],i+idx2[i]+288)))))

팔당df = pd.concat([tmp3[0],tmp3[1],tmp3[2],tmp3[3],tmp3[4],tmp3[5],tmp3[6],tmp3[7],tmp3[8],tmp3[9],tmp3[10]])
팔당df.columns = ['날짜', '방류량']
팔당df

                    날짜     방류량
0      2012-04-29 0:00   444.0
1      2012-04-29 0:00   444.0
2      2012-04-29 0:10   531.0
3      2012-04-29 0:20   537.6
4      2012-04-29 0:30   544.2
...                ...     ...
3173  2022-04-30 23:00  124.66
3174  2022-04-30 23:10  124.55
3175  2022-04-30 23:20  124.48
3176  2022-04-30 23:30  124.15
3177  2022-04-30 23:40  124.53

[3168 rows x 2 columns]

In [ ]:
팔당df[팔당df['방류량']=='-']

                    날짜 방류량
1087  2015-04-30 12:30   -
2115  2019-04-29 15:10   -
2988  2022-04-29 16:10   -

In [ ]:
팔당df.loc[1087]['방류량'] = 168.2
팔당df.loc[2115]['방류량'] = 368
팔당df.loc[2988]['방류량'] = 125.1

#다리별 시간차 계산

In [ ]:
idx3 = []
for i in range(12):
  idx3.append(i*26496)

In [ ]:
ttmp = []
for i in range(0, 288): 
  
  push_num = i
  
  tmp = []
  for j in range(11):
    if j != 10:
      tmp.append(pd.concat([팔당df[idx2[j+1]-push_num:idx2[j+1]],팔당처리df[idx3[j]:idx3[j+1]-push_num][['날짜','방류량']]], ignore_index=True))
    else:
      tmp.append(pd.concat([팔당df[idx2[j+1]-push_num:idx2[j+1]],팔당처리df[idx3[j]:-push_num][['날짜','방류량']]], ignore_index=True))

  push_result = pd.concat(
        [tmp[0],tmp[1],tmp[2],tmp[3],tmp[4],tmp[5],tmp[6],tmp[7],tmp[8],tmp[9],tmp[10]], ignore_index=True
    )

  mm = pd.concat([push_result[['방류량']],팔당처리df[['청담대교_수위','잠수교_수위', '한강대교_수위', '행주대교_수위']]], axis=1)
  mm['방류량'] = mm['방류량'].astype(float, errors = 'raise')
  nn = mm[:269424]
  push_cor2 = nn.corr()
  
  
  #print(i, push_cor2.iloc[:,0][2]) #마지막 원소 변경 1,2,3,4
  #ttmp.append(push_cor2.iloc[:,0][2])

  #1번: 청담대교 15 0.8970553300325268 -> 15 0.8970394478572508
  #2번: 잠수교   19 0.8748510916903229
  #3번: 한강대교 20 0.8635804208734675
  #4번: 행주대교 21 0.8088005740767352
  #시간적 순서가 직관과 맞음

  #하나만 꼽으라면 19
  print(i, push_cor2.sum()[0])
  ttmp.append(push_cor2.sum()[0])

0 4.410514618207634
1 4.410977499356765
2 4.413932674737623
3 4.416838990214302
4 4.419693759567066
5 4.422489157942971
6 4.42520050657644
7 4.427807333167553
8 4.430262776989767
9 4.4325569618259095
10 4.434684489360465
11 4.436602126759455
12 4.438296083273169
13 4.439771608897166
14 4.4410140958053566
15 4.442024023217969
16 4.4427827623522544
17 4.443323415998397
18 4.443595953155796
19 4.443641125815918
20 4.443445691407384
21 4.443002975655779
22 4.442323804839731
23 4.441424786241807
24 4.440315399191794
25 4.438978657118048
26 4.437434711186554
27 4.435696829820653
28 4.433777575205552
29 4.431694220025834
30 4.429434665028613
31 4.427017560080587
32 4.424450820136281
33 4.421757477238371
34 4.418929746779365
35 4.415987918340716
36 4.412930211449392
37 4.409768860044382
38 4.406516512427415
39 4.403179763650012
40 4.399769760037632
41 4.396277205125924
42 4.392694766799659
43 4.3890355755379975
44 4.385320144710435
45 4.381555464907175
46 4.377726044367163
47 4.373822121692718
48 4.369853758437241
49 4.36582393927437
50 4.361747107059348
51 4.357621348191209
52 4.353438881493298
53 4.349212625048254
54 4.344942766004737
55 4.340626077810857
56 4.336277555810391
57 4.33189713969735
58 4.327476905108749
59 4.323026472032854
60 4.318561033824581
61 4.314083556445526
62 4.309604411192756
63 4.305115220814791
64 4.300628530497547
65 4.296151040717037
66 4.291674034624551
67 4.287200533539144
68 4.2827282331155105
69 4.27826888936898
70 4.273803404739657
71 4.269347851711991
72 4.264904767720666
73 4.260474192746793
74 4.25604331437349
75 4.251626638164576
76 4.247224439555393
77 4.242841524833271
78 4.2384833186651765
79 4.234138125301671
80 4.229811563896683
81 4.225508320777266
82 4.221226890615137
83 4.2169652669072555
84 4.2127276049058375
85 4.208506373721274
86 4.204292045729716
87 4.200085756184872
88 4.195887715118943
89 4.191700542134924
90 4.187509549497774
91 4.18330850903446
92 4.179092455736722
93 4.1748692455849366
94 4.170627809122774
95 4.166406952100407
96 4.16214359923027
97 4.15786104116199
98 4.1535583475185165
99 4.149232310535355
100 4.144905576466382
101 4.140552857835214
102 4.1361934895435395
103 4.131831233958299
104 4.127462747921263
105 4.123093800198313
106 4.1187429013826735
107 4.114397680484864
108 4.110058527438918
109 4.1057328490772145
110 4.101425263760277
111 4.097147502452231
112 4.092896641654705
113 4.08867463839889
114 4.084494023155102
115 4.080351069681363
116 4.076253140173447
117 4.072170796448211
118 4.068135532934649
119 4.064146980963388
120 4.060202098506773
121 4.0562619892552565
122 4.052374375596282
123 4.048502844689714
124 4.044634879289465
125 4.040790888332666
126 4.036969244338626
127 4.033153859985437
128 4.029336320159706
129 4.025524419365091
130 4.02171839361826
131 4.017903658544137
132 4.014104319816894
133 4.0103084748983395
134 4.006537894862092
135 4.002776055317721
136 3.9990240305984206
137 3.9952945085902654
138 3.991597793607567
139 3.987930120715983
140 3.9843077593480904
141 3.9806958386589346
142 3.977117233578106
143 3.9735651334634885
144 3.9700405427630314
145 3.9665499754332676
146 3.96309413010005
147 3.9596565285018874
148 3.9562558953698326
149 3.952879730153248
150 3.949547314423408
151 3.9462603078353213
152 3.942998924986116
153 3.9397754177087485
154 3.9365944719080495
155 3.9334442238575305
156 3.9303366347473423
157 3.9272584171363
158 3.924200867145948
159 3.92115693520403
160 3.9181275570640417
161 3.9151064064332095
162 3.912091179191052
163 3.909068926653438
164 3.906033817355384
165 3.902997117673986
166 3.8999327280765828
167 3.8968467371644415
168 3.8937469137730036
169 3.8906206676436756
170 3.88746816435759
171 3.8842899177184957
172 3.8810920404409672
173 3.877864990998427
174 3.874606569800652
175 3.8713086298402857
176 3.8680112687433867
177 3.864692388882893
178 3.861355431893508
179 3.858009335594109
180 3.8546598952107365
181 3.8512939426960147
182 3.847933835941578
183 3.8445750997064483
184 3.8412321305546677
185 3.837898210992395
186 3.834586672909185
187 3.8312860124099957
188 3.828010037457885
189 3.824749761577789
190 3.8215214743164565
191 3.8183054473471745
192 3.8151185663630987
193 3.811955683296814
194 3.8087999006746984
195 3.8056532146106847
196 3.802523336763933
197 3.7994035483938497
198 3.7962847241635926
199 3.7931586888810798
200 3.790021186088982
201 3.78687101359477
202 3.783706831248095
203 3.7805390021259235
204 3.7773634005115335
205 3.77416531757774
206 3.7709578246355115
207 3.7677480343101317
208 3.7645261319855807
209 3.7613229406477093
210 3.7581266911208786
211 3.75494829068155
212 3.751782627277521
213 3.7486393254219577
214 3.745507383483014
215 3.7424137689035253
216 3.7393519252970098
217 3.7363087868274887
218 3.7332865753945055
219 3.730284931026497
220 3.7273157257191434
221 3.724376006158089
222 3.7214635843791757
223 3.718581858517824
224 3.7157424119876588
225 3.712936231085151
226 3.710164449487398
227 3.707438702564158
228 3.7047571817227207
229 3.7021143388854423
230 3.6995080826024886
231 3.696947312403122
232 3.694419564719215
233 3.6919088705705496
234 3.689423052456924
235 3.686959977266302
236 3.6845031532764576
237 3.68205292923298
238 3.679594385478153
239 3.677145852887489
240 3.67468999118621
241 3.672218703974624
242 3.669740914498685
243 3.6672876553348495
244 3.6648032795311036
245 3.6623072442619287
246 3.659781541093868
247 3.6572602118792377
248 3.654730581758304
249 3.652192798758217
250 3.6496507975557346
251 3.6471080557811493
252 3.6445687252449157
253 3.6420348631472503
254 3.63951178229719
255 3.6370106265674558
256 3.634523597610486
257 3.6320651843586775
258 3.629651161694322
259 3.6272706062449593
260 3.6249250649383193
261 3.62263922336956
262 3.6204035261320193
263 3.618242925000885
264 3.6161347244535045
265 3.614081552473639
266 3.6120760250962407
267 3.610134568950957
268 3.608233633970314
269 3.606369119985347
270 3.604537295662927
271 3.6027259713417816
272 3.600923200839326
273 3.599127227915
274 3.597311786941577
275 3.5954880779319662
276 3.593634873105013
277 3.5917672085527093
278 3.5898673311338065
279 3.5879427716540455
280 3.586000527608788
281 3.584049912550028
282 3.5821013968738553
283 3.5801451145559366
284 3.578187928837826
285 3.576229086387858
286 3.5742884704819806
287 3.5723750592727765

In [ ]:
max(ttmp)

4.443641125815918

#파일 저장

In [ ]:
push_num = 19
  
tmp = []
for j in range(11):
  if j != 10:
    tmp.append(pd.concat([팔당df[idx2[j+1]-push_num:idx2[j+1]],팔당처리df[idx3[j]:idx3[j+1]-push_num][['날짜','방류량']]], ignore_index=True))
  else:
    tmp.append(pd.concat([팔당df[idx2[j+1]-push_num:idx2[j+1]],팔당처리df[idx3[j]:-push_num][['날짜','방류량']]], ignore_index=True))

push_result = pd.concat(
      [tmp[0],tmp[1],tmp[2],tmp[3],tmp[4],tmp[5],tmp[6],tmp[7],tmp[8],tmp[9],tmp[10]], ignore_index=True
)

mm = pd.concat([push_result[['방류량']],팔당처리df[['청담대교_수위','잠수교_수위', '한강대교_수위', '행주대교_수위']]], axis=1)
mm['방류량'] = mm['방류량'].astype(float, errors = 'raise')
nn = mm[:269424]
push_cor2 = nn.corr()
push_cor2

              방류량   청담대교_수위    잠수교_수위   한강대교_수위   행주대교_수위
방류량      1.000000  0.896613  0.874833  0.863561  0.808633
청담대교_수위  0.896613  1.000000  0.991150  0.990986  0.949497
잠수교_수위   0.874833  0.991150  1.000000  0.995218  0.957848
한강대교_수위  0.863561  0.990986  0.995218  1.000000  0.972335
행주대교_수위  0.808633  0.949497  0.957848  0.972335  1.000000

In [ ]:
result = push_result.방류량
result

0          575.7
1          575.3
2          555.0
3          575.7
4          575.4
           ...
276331    258.67
276332    258.58
276333    258.56
276334    258.65
276335    258.09
Name: 방류량, Length: 276336, dtype: object

In [ ]:
result.to_csv("방류량 완성.csv", index = False, encoding = 'cp949', columns = ['방류량'])

In [ ]:
result.isnull().sum()

0