In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import os

import numpy as np
import pandas as pd

import seaborn as sns 
import matplotlib.pyplot as plt

plt.rcParams['figure.figsize']=(10,10)

import warnings
warnings.filterwarnings(action='ignore')

## 1. 데이터 불러오기

In [3]:
raw_data = pd.read_csv('/content/drive/MyDrive/신입기수 프로젝트/Dataset/rawdata.csv')
raw_data

,날짜,현재수위,유입량,저수량,공용량,방류량,강화대교_조위,청담대교_유량,잠수교_유량,한강대교_유량,행주대교_유량,대곡교_강수량,진관교_강수량,송정동_강수량,청담대교_수위,잠수교_수위,한강대교_수위,행주대교_수위
0,2012-05-01 00:00,24.800,555.00,219.07,24.93,555.00,445.0,469.05,0.0,729.80,540.18,0.0,0.0,0.0,310.7,300.2,290.0,275.3
1,2012-05-01 00:10,24.794,464.60,218.86,25.15,562.90,449.0,498.00,0.0,731.48,540.18,0.0,0.0,0.0,314.7,300.2,290.0,275.3
2,2012-05-01 00:20,24.789,478.10,218.69,25.31,576.40,451.0,490.68,0.0,726.42,540.18,0.0,0.0,0.0,313.7,301.2,290.0,275.3
3,2012-05-01 00:30,24.789,464.80,218.69,25.31,563.10,452.0,476.21,0.0,726.42,552.17,0.0,0.0,0.0,311.7,301.2,290.0,276.3
4,2012-05-01 00:40,24.789,478.10,218.69,25.31,576.40,450.0,476.21,0.0,707.17,564.29,0.0,0.0,0.0,311.7,301.2,291.0,277.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276331,2022-07-18 23:10,25.040,259.23,212.86,31.14,259.23,510.0,319.84,NaN,-456.41,974.40,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276332,2022-07-18 23:20,25.040,260.46,212.86,31.14,260.46,492.0,314.01,NaN,-717.30,1006.88,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276333,2022-07-18 23:30,25.040,259.37,212.86,31.14,259.37,475.0,387.55,NaN,-843.37,1039.90,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276334,2022-07-18 23:40,25.040,259.13,212.86,31.14,259.13,458.0,454.91,NaN,-1023.37,1073.46,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276335,2022-07-18 23:50,25.040,258.16,212.86,31.14,258.16,442.0,582.21,NaN,-1049.44,1090.45,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#유입량, 저수량 제거

In [4]:
raw_data_ = raw_data.drop(raw_data[['유입량','저수량']], axis = 1)
raw_data_

,날짜,현재수위,공용량,방류량,강화대교_조위,청담대교_유량,잠수교_유량,한강대교_유량,행주대교_유량,대곡교_강수량,진관교_강수량,송정동_강수량,청담대교_수위,잠수교_수위,한강대교_수위,행주대교_수위
0,2012-05-01 00:00,24.800,24.93,555.00,445.0,469.05,0.0,729.80,540.18,0.0,0.0,0.0,310.7,300.2,290.0,275.3
1,2012-05-01 00:10,24.794,25.15,562.90,449.0,498.00,0.0,731.48,540.18,0.0,0.0,0.0,314.7,300.2,290.0,275.3
2,2012-05-01 00:20,24.789,25.31,576.40,451.0,490.68,0.0,726.42,540.18,0.0,0.0,0.0,313.7,301.2,290.0,275.3
3,2012-05-01 00:30,24.789,25.31,563.10,452.0,476.21,0.0,726.42,552.17,0.0,0.0,0.0,311.7,301.2,290.0,276.3
4,2012-05-01 00:40,24.789,25.31,576.40,450.0,476.21,0.0,707.17,564.29,0.0,0.0,0.0,311.7,301.2,291.0,277.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276331,2022-07-18 23:10,25.040,31.14,259.23,510.0,319.84,NaN,-456.41,974.40,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276332,2022-07-18 23:20,25.040,31.14,260.46,492.0,314.01,NaN,-717.30,1006.88,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276333,2022-07-18 23:30,25.040,31.14,259.37,475.0,387.55,NaN,-843.37,1039.90,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276334,2022-07-18 23:40,25.040,31.14,259.13,458.0,454.91,NaN,-1023.37,1073.46,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276335,2022-07-18 23:50,25.040,31.14,258.16,442.0,582.21,NaN,-1049.44,1090.45,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
raw_data_.isnull().sum()

날짜              0
현재수위          743
공용량           743
방류량           743
강화대교_조위      4927
청담대교_유량     16380
잠수교_유량     196849
한강대교_유량      1279
행주대교_유량        59
대곡교_강수량         0
진관교_강수량         0
송정동_강수량         0
청담대교_수위        59
잠수교_수위         59
한강대교_수위        59
행주대교_수위        59
dtype: int64

#팔당댐 결측치 처리 - 보간

In [6]:
팔당처리 = raw_data_[['현재수위', '공용량', '방류량']].interpolate(method = 'linear' , limit_direction = 'forward')
팔당처리

          현재수위    공용량     방류량
0       24.800  24.93  555.00
1       24.794  25.15  562.90
2       24.789  25.31  576.40
3       24.789  25.31  563.10
4       24.789  25.31  576.40
...        ...    ...     ...
276331  25.040  31.14  259.23
276332  25.040  31.14  260.46
276333  25.040  31.14  259.37
276334  25.040  31.14  259.13
276335  25.040  31.14  258.16

[276336 rows x 3 columns]

In [7]:
팔당처리df = pd.concat([raw_data_.drop(팔당처리.columns, axis = 1), 팔당처리], axis=1)
팔당처리df

,날짜,강화대교_조위,청담대교_유량,잠수교_유량,한강대교_유량,행주대교_유량,대곡교_강수량,진관교_강수량,송정동_강수량,청담대교_수위,잠수교_수위,한강대교_수위,행주대교_수위,현재수위,공용량,방류량
0,2012-05-01 00:00,445.0,469.05,0.0,729.80,540.18,0.0,0.0,0.0,310.7,300.2,290.0,275.3,24.800,24.93,555.00
1,2012-05-01 00:10,449.0,498.00,0.0,731.48,540.18,0.0,0.0,0.0,314.7,300.2,290.0,275.3,24.794,25.15,562.90
2,2012-05-01 00:20,451.0,490.68,0.0,726.42,540.18,0.0,0.0,0.0,313.7,301.2,290.0,275.3,24.789,25.31,576.40
3,2012-05-01 00:30,452.0,476.21,0.0,726.42,552.17,0.0,0.0,0.0,311.7,301.2,290.0,276.3,24.789,25.31,563.10
4,2012-05-01 00:40,450.0,476.21,0.0,707.17,564.29,0.0,0.0,0.0,311.7,301.2,291.0,277.3,24.789,25.31,576.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276331,2022-07-18 23:10,510.0,319.84,NaN,-456.41,974.40,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.040,31.14,259.23
276332,2022-07-18 23:20,492.0,314.01,NaN,-717.30,1006.88,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.040,31.14,260.46
276333,2022-07-18 23:30,475.0,387.55,NaN,-843.37,1039.90,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.040,31.14,259.37
276334,2022-07-18 23:40,458.0,454.91,NaN,-1023.37,1073.46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.040,31.14,259.13
276335,2022-07-18 23:50,442.0,582.21,NaN,-1049.44,1090.45,0.0,0.0,0.0,0.0,0.0,0.0,0.0,25.040,31.14,258.16

#시간차 적용을 위한 4월 데이터(조위df) 불러오기

In [8]:
from glob import glob

w_list = sorted(glob("/content/drive/MyDrive/신입기수 프로젝트/Dataset/공용량_시간차_크롤링/*.csv"))
w_list

['/content/drive/MyDrive/신입기수 프로젝트/Dataset/공용량_시간차_크롤링/newdata2012.csv',
 '/content/drive/MyDrive/신입기수 프로젝트/Dataset/공용량_시간차_크롤링/newdata2013.csv',
 '/content/drive/MyDrive/신입기수 프로젝트/Dataset/공용량_시간차_크롤링/newdata2014.csv',
 '/content/drive/MyDrive/신입기수 프로젝트/Dataset/공용량_시간차_크롤링/newdata2015.csv',
 '/content/drive/MyDrive/신입기수 프로젝트/Dataset/공용량_시간차_크롤링/newdata2016.csv',
 '/content/drive/MyDrive/신입기수 프로젝트/Dataset/공용량_시간차_크롤링/newdata2017.csv',
 '/content/drive/MyDrive/신입기수 프로젝트/Dataset/공용량_시간차_크롤링/newdata2018.csv',
 '/content/drive/MyDrive/신입기수 프로젝트/Dataset/공용량_시간차_크롤링/newdata2019.csv',
 '/content/drive/MyDrive/신입기수 프로젝트/Dataset/공용량_시간차_크롤링/newdata2020.csv',
 '/content/drive/MyDrive/신입기수 프로젝트/Dataset/공용량_시간차_크롤링/newdata2021.csv',
 '/content/drive/MyDrive/신입기수 프로젝트/Dataset/공용량_시간차_크롤링/newdata2022.csv']

In [9]:
idx = [0]
for i in range(47):
  idx.append(i)

In [10]:
idx2 = []
for i in range(12):
  idx2.append(i*48)

In [11]:
tmp3 = []

for i in range(11):
  a = pd.read_csv(w_list[i], encoding='cp949', usecols = [0,1])
  a.columns = [['날짜','공용량']]
  tmp3.append(a.iloc[idx].set_index(pd.Index(list(range(i+idx2[i],i+idx2[i]+48)))))

팔당df = pd.concat([tmp3[0],tmp3[1],tmp3[2],tmp3[3],tmp3[4],tmp3[5],tmp3[6],tmp3[7],tmp3[8],tmp3[9],tmp3[10]])
팔당df.columns = ['날짜', '공용량']
팔당df

     날짜    공용량
0     0  24.25
1     0  24.25
2     1  25.31
3     2  25.24
4     3  24.47
..   ..    ...
533  42  25.27
534  43  25.27
535  44  24.90
536  45  24.90
537  46  24.90

[528 rows x 2 columns]

In [14]:
팔당df[팔당df['공용량']=='-']

Empty DataFrame
Columns: [날짜, 공용량]
Index: []

#다리별 시간차 계산

In [15]:
idx3 = []
for i in range(12):
  idx3.append(i*26496)

In [18]:
ttmp = []
for i in range(0, 48): 
  
  push_num = i
  
  tmp = []
  for j in range(11):
    if j != 10:
      tmp.append(pd.concat([팔당df[idx2[j+1]-push_num:idx2[j+1]],팔당처리df[idx3[j]:idx3[j+1]-push_num][['날짜','공용량']]], ignore_index=True))
    else:
      tmp.append(pd.concat([팔당df[idx2[j+1]-push_num:idx2[j+1]],팔당처리df[idx3[j]:-push_num][['날짜','공용량']]], ignore_index=True))

  push_result = pd.concat(
        [tmp[0],tmp[1],tmp[2],tmp[3],tmp[4],tmp[5],tmp[6],tmp[7],tmp[8],tmp[9],tmp[10]], ignore_index=True
    )

  mm = pd.concat([push_result[['공용량']],팔당처리df[['청담대교_수위','잠수교_수위', '한강대교_수위', '행주대교_수위']]], axis=1)
  mm['공용량'] = mm['공용량'].astype(float, errors = 'raise')
  nn = mm[:269424]
  push_cor2 = nn.corr()
  
  
  print(i, push_cor2.iloc[:,0][2]) #마지막 원소 변경 1,2,3,4
  ttmp.append(push_cor2.iloc[:,0][2])

  #1번: 청담대교 0 0.16661086117544954
  #2번: 잠수교   0 0.19207065989114308
  #3번: 한강대교 0 0.19693234447794916
  #4번: 행주대교 0 0.16817380083101077
  #시간적 순서가 직관과 맞음

  #하나만 꼽으라면 19
  #print(i, push_cor2.sum()[0])
  #ttmp.append(push_cor2.sum()[0])

0 0.19207065989114308
1 0.1888591470431609
2 0.1888415807164662
3 0.18885668461172753
4 0.18888819205993596
5 0.18891410793574956
6 0.18891533160799245
7 0.18889337722187854
8 0.18883758697307554
9 0.18880178367981554
10 0.1887487924067098
11 0.18866636893291625
12 0.1885547025271377
13 0.18842622598631356
14 0.1882502846152385
15 0.18808701766948976
16 0.1879066200154863
17 0.18771606830486334
18 0.18751629376468137
19 0.18730680347850465
20 0.18705962369654844
21 0.1868373254462137
22 0.18661666926844797
23 0.1863825779645073
24 0.18615003137450734
25 0.18591651042026913
26 0.1856478040766844
27 0.18540653287697623
28 0.18516463892229157
29 0.18492156837401036
30 0.18468768813174094
31 0.1844529839855445
32 0.18418949298179907
33 0.18394961306309446
34 0.18372491830575935
35 0.18350216772558847
36 0.18328960438558742
37 0.18308221599897065
38 0.1828540154892585
39 0.18264382887793762
40 0.18245221954173788
41 0.1822629670162597
42 0.1820876998957765
43 0.1819155611551197
44 0.18172077285490534
45 0.18153667960020625
46 0.18136731252630495
47 0.181193911720947

In [19]:
max(ttmp)

0.19207065989114308

#파일 저장

In [ ]:
push_num = 0
  
tmp = []
for j in range(11):
  if j != 10:
    tmp.append(pd.concat([팔당df[idx2[j+1]-push_num:idx2[j+1]],팔당처리df[idx3[j]:idx3[j+1]-push_num][['날짜','공용량']]], ignore_index=True))
  else:
    tmp.append(pd.concat([팔당df[idx2[j+1]-push_num:idx2[j+1]],팔당처리df[idx3[j]:-push_num][['날짜','공용량']]], ignore_index=True))

push_result = pd.concat(
      [tmp[0],tmp[1],tmp[2],tmp[3],tmp[4],tmp[5],tmp[6],tmp[7],tmp[8],tmp[9],tmp[10]], ignore_index=True
)

mm = pd.concat([push_result[['공용량']],팔당처리df[['청담대교_수위','잠수교_수위', '한강대교_수위', '행주대교_수위']]], axis=1)
mm['공용량'] = mm['공용량'].astype(float, errors = 'raise')
nn = mm[:269424]
push_cor2 = nn.corr()
push_cor2

              공용량   청담대교_수위    잠수교_수위   한강대교_수위   행주대교_수위
공용량      1.000000  0.166611  0.192071  0.196932  0.168174
청담대교_수위  0.166611  1.000000  0.991150  0.990986  0.949497
잠수교_수위   0.192071  0.991150  1.000000  0.995218  0.957848
한강대교_수위  0.196932  0.990986  0.995218  1.000000  0.972335
행주대교_수위  0.168174  0.949497  0.957848  0.972335  1.000000

In [ ]:
result = push_result.방류량
result

0          575.7
1          575.3
2          555.0
3          575.7
4          575.4
           ...
276331    258.67
276332    258.58
276333    258.56
276334    258.65
276335    258.09
Name: 방류량, Length: 276336, dtype: object

In [ ]:
result.to_csv("방류량 for 전체.csv", index = False, encoding = 'cp949')