### 라이브러리 불러오기

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings(action='ignore')

In [2]:
import time
from glob import glob
from tqdm import tqdm
from scipy import interpolate

In [3]:
# conda install tensorflow

In [4]:
# conda install python=3.7

In [5]:
import tensorflow as tf
import keras
from keras.models import Sequential
from keras.layers import Activation, Dense, LSTM, GRU, AveragePooling1D, GlobalAveragePooling1D, Dropout, Flatten, BatchNormalization
from keras.layers.convolutional import Conv1D, MaxPooling1D, AveragePooling1D 
from keras.callbacks import ModelCheckpoint, EarlyStopping
from keras import backend as K

Using TensorFlow backend.

CNN으로 전처리해볼 것
1. 유량 3개, 수위 4개
2. 팔당댐 데이터

### 전체 수위 데이터셋 구축

In [6]:
# from google.colab import drive
# drive.mount('/content/drive')

In [7]:
# 데이터 불러오기 
전체df = pd.read_csv('/Volumes/GoogleDrive/.shortcut-targets-by-id/1rUx7_7LmBqAQTbWEWVTGvw0_d0v6N2ZT/신입기수 프로젝트/Dataset/rawdata.csv')
# for colab
# /content/drive/MyDrive/신입기수 프로젝트/Dataset/rawdata.csv
# for jupyter
# /Volumes/GoogleDrive/.shortcut-targets-by-id/1rUx7_7LmBqAQTbWEWVTGvw0_d0v6N2ZT/신입기수 프로젝트/Dataset/rawdata.csv

In [8]:
수위 = 전체df[['청담대교_수위', '한강대교_수위', '잠수교_수위', '행주대교_수위']]

In [9]:
수위

        청담대교_수위  한강대교_수위  잠수교_수위  행주대교_수위
0         310.7    290.0   300.2    275.3
1         314.7    290.0   300.2    275.3
2         313.7    290.0   301.2    275.3
3         311.7    290.0   301.2    276.3
4         311.7    291.0   301.2    277.3
...         ...      ...     ...      ...
276331      0.0      0.0     0.0      0.0
276332      0.0      0.0     0.0      0.0
276333      0.0      0.0     0.0      0.0
276334      0.0      0.0     0.0      0.0
276335      0.0      0.0     0.0      0.0

[276336 rows x 4 columns]

In [10]:
nanIndex = 수위[수위.청담대교_수위.isnull()].index

In [11]:
nanIndex

Int64Index([140613, 140614, 140615, 140616, 140617, 140618, 140619, 140620,
            140621, 140622, 140623, 140624, 140625, 140626, 140627, 140628,
            140629, 140630, 140631, 140632, 140633, 140634, 140635, 140636,
            140637, 140638, 140639, 140640, 140641, 140642, 140643, 140644,
            140645, 140646, 140647, 140648, 140649, 140650, 140651, 140652,
            140653, 140654, 140655, 140656, 140657, 140658, 140659, 140660,
            140661, 140662, 140663, 140664, 140665, 140666, 140667, 140668,
            140669, 140670, 236080],
           dtype='int64')

In [12]:
consecutive = list(nanIndex)[:-1]
unconsecutive = list(nanIndex)[-1]
print(consecutive)
print(unconsecutive)

[140613, 140614, 140615, 140616, 140617, 140618, 140619, 140620, 140621, 140622, 140623, 140624, 140625, 140626, 140627, 140628, 140629, 140630, 140631, 140632, 140633, 140634, 140635, 140636, 140637, 140638, 140639, 140640, 140641, 140642, 140643, 140644, 140645, 140646, 140647, 140648, 140649, 140650, 140651, 140652, 140653, 140654, 140655, 140656, 140657, 140658, 140659, 140660, 140661, 140662, 140663, 140664, 140665, 140666, 140667, 140668, 140669, 140670]
236080

In [13]:
# 58개 결측치 앞 인덱스까지 인풋 생성
x = 수위.loc[:140612]

# 결측치로 아웃풋 생성
null = 수위[140613:140671]

In [14]:
null

        청담대교_수위  한강대교_수위  잠수교_수위  행주대교_수위
140613      NaN      NaN     NaN      NaN
140614      NaN      NaN     NaN      NaN
140615      NaN      NaN     NaN      NaN
140616      NaN      NaN     NaN      NaN
140617      NaN      NaN     NaN      NaN
140618      NaN      NaN     NaN      NaN
140619      NaN      NaN     NaN      NaN
140620      NaN      NaN     NaN      NaN
140621      NaN      NaN     NaN      NaN
140622      NaN      NaN     NaN      NaN
140623      NaN      NaN     NaN      NaN
140624      NaN      NaN     NaN      NaN
140625      NaN      NaN     NaN      NaN
140626      NaN      NaN     NaN      NaN
140627      NaN      NaN     NaN      NaN
140628      NaN      NaN     NaN      NaN
140629      NaN      NaN     NaN      NaN
140630      NaN      NaN     NaN      NaN
140631      NaN      NaN     NaN      NaN
140632      NaN      NaN     NaN      NaN
140633      NaN      NaN     NaN      NaN
140634      NaN      NaN     NaN      NaN
140635      NaN      NaN     NaN      NaN
140636      NaN      NaN     NaN      NaN
140637      NaN      NaN     NaN      NaN
140638      NaN      NaN     NaN      NaN
140639      NaN      NaN     NaN      NaN
140640      NaN      NaN     NaN      NaN
140641      NaN      NaN     NaN      NaN
140642      NaN      NaN     NaN      NaN
140643      NaN      NaN     NaN      NaN
140644      NaN      NaN     NaN      NaN
140645      NaN      NaN     NaN      NaN
140646      NaN      NaN     NaN      NaN
140647      NaN      NaN     NaN      NaN
140648      NaN      NaN     NaN      NaN
140649      NaN      NaN     NaN      NaN
140650      NaN      NaN     NaN      NaN
140651      NaN      NaN     NaN      NaN
140652      NaN      NaN     NaN      NaN
140653      NaN      NaN     NaN      NaN
140654      NaN      NaN     NaN      NaN
140655      NaN      NaN     NaN      NaN
140656      NaN      NaN     NaN      NaN
140657      NaN      NaN     NaN      NaN
140658      NaN      NaN     NaN      NaN
140659      NaN      NaN     NaN      NaN
140660      NaN      NaN     NaN      NaN
140661      NaN      NaN     NaN      NaN
140662      NaN      NaN     NaN      NaN
140663      NaN      NaN     NaN      NaN
140664      NaN      NaN     NaN      NaN
140665      NaN      NaN     NaN      NaN
140666      NaN      NaN     NaN      NaN
140667      NaN      NaN     NaN      NaN
140668      NaN      NaN     NaN      NaN
140669      NaN      NaN     NaN      NaN
140670      NaN      NaN     NaN      NaN

In [15]:
x

        청담대교_수위  한강대교_수위  잠수교_수위  행주대교_수위
0         310.7    290.0   300.2    275.3
1         314.7    290.0   300.2    275.3
2         313.7    290.0   301.2    275.3
3         311.7    290.0   301.2    276.3
4         311.7    291.0   301.2    277.3
...         ...      ...     ...      ...
140608    435.7    410.0   415.2    374.3
140609    438.7    413.0   418.2    375.3
140610    437.7    413.0   418.2    373.3
140611    434.7    413.0   415.2    373.3
140612    429.7    410.0   412.2    375.3

[140613 rows x 4 columns]

In [16]:
# conda install scikit-learn

In [17]:
# train, test data 생성할 때 필요
from sklearn.model_selection import train_test_split
# 정규화할 때 필요
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

In [18]:
# input 정규화
x_regular = x.copy()

for i in range(len(x.columns)):
    scaler = StandardScaler()                       #StandardScaler() , MinMaxScaler() , RobustScaler()
    a=np.array(x_regular.iloc[:,i])
    tmp_x = scaler.fit_transform(a.reshape(-1,1))
    x_regular.iloc[:,i] = tmp_x

In [19]:
x_regular

         청담대교_수위   한강대교_수위    잠수교_수위   행주대교_수위
0      -0.213183 -0.292141 -0.168958 -0.473340
1      -0.150481 -0.292141 -0.168958 -0.473340
2      -0.166156 -0.292141 -0.151149 -0.473340
3      -0.197507 -0.292141 -0.151149 -0.450834
4      -0.197507 -0.273710 -0.151149 -0.428328
...          ...       ...       ...       ...
140608  1.746252  1.919546  1.879052  1.754767
140609  1.793278  1.974838  1.932478  1.777274
140610  1.777603  1.974838  1.932478  1.732261
140611  1.730576  1.974838  1.879052  1.732261
140612  1.652199  1.919546  1.825626  1.777274

[140613 rows x 4 columns]

### 행주대교 수위

In [20]:
start = time.time()

y_predict = []

xtrain = []
ytrain = []

w =  432 # window size
n = 58 # 예측할 데이터 개수

# xtrain 생성
# for i in range(len(x_regular)-w):
#     xtrain.append(np.array(x_regular.iloc[i:i + w, :]).astype(float))

for i in tqdm(range(len(x_regular)-w-n)):
    xtrain.append(np.array(x_regular.iloc[i:i + w, 3]).astype(float))

100%|████████████████████████████████| 140123/140123 [00:06<00:00, 21359.84it/s]

In [ ]:
# ytrain 생성
# for i in range(w, len(x_regular)):
#     ytrain.append(np.array(x_regular.iloc[i, :]).astype(float))
ytrain = []

for i in tqdm(range(w, len(x_regular)-n)):
  ytrain.append(np.array(x_regular.iloc[i:i+n, 3]).astype(float))

 35%|███████████▋                     | 49475/140123 [00:02<00:04, 21461.14it/s]

In [ ]:
xtrain = np.array(xtrain)
ytrain = np.array(ytrain)
print(xtrain.shape)
print(ytrain.shape)

In [ ]:
df_xtrain = pd.DataFrame(xtrain, columns = [i for i in range(432)])

In [ ]:
df_ytrain = pd.DataFrame(ytrain, columns = [f'R{i}' for i in range(58)])

In [ ]:
df_series = pd.concat([df_xtrain, df_ytrain], axis = 1)

In [ ]:
df_series.shape

In [ ]:
xtrain.reshape(140123, 432, 1)
ytrain.reshape(140123, 58, 1)

In [ ]:
# label
labels_col = [f'R{i}' for i in range(58)]
labels = df_series[labels_col]
series = df_series.drop(labels_col, axis=1)
labels.values.shape

In [ ]:
# x_train, x_val, y_train, y_val 분류
x_train, x_val, y_train, y_val = train_test_split(series, labels.values, test_size = 0.4, random_state = 0)

In [ ]:
x_train

In [ ]:
# xtest =

In [ ]:
# 모델링 및 모델 학습

if 'model' in locals(): 
    del model 
if 'history' in locals():
    del history


#He_normal
He_normal = keras.initializers.he_normal(seed=None)

model = Sequential()
model.add(Conv1D(filters = 8, input_shape = (w, 1), kernel_size = 2, padding='causal', dilation_rate=2, kernel_initializer = He_normal))
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Dropout(0.2))  #0.2~0.5  0.8까지

model.add(Conv1D(filters = 16, kernel_size = 2, padding='causal', dilation_rate=4, kernel_initializer = He_normal))
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Dropout(0.2))

model.add(Conv1D(filters = 32, kernel_size = 1))

model.add(Flatten())   #model.add(GlobalAveragePooling1D(pool_size=2))

model.add(Dense(50, kernel_initializer = He_normal))
model.add(BatchNormalization())
model.add(Activation('relu'))
model.add(Dropout(0.2))

model.add(Dense(58))


def root_mean_squared_error(y_true, y_pred):
        return K.sqrt(K.mean(K.square(y_pred - y_true))) 

opt = tf.keras.optimizers.Adam(lr=0.005) #기본값 0.001
model.compile(optimizer=opt, loss=root_mean_squared_error, metrics =["accuracy"])
model.summary()



callbacks = [keras.callbacks.EarlyStopping(monitor='val_loss',
                                            patience=5),
                keras.callbacks.ModelCheckpoint(filepath='best_model.h5',
                                                monitor='val_loss',
                                                save_best_only=True)]



history = model.fit(xtrain, ytrain, epochs=300, validation_data = (x_val, y_val), verbose=1, callbacks=callbacks, batch_size = 3742) #batch size..?


keras_model_best = keras.models.load_model('best_model.h5', custom_objects={'root_mean_squared_error': root_mean_squared_error})

keras_model_best.evaluate(x_val,y_val)

# y_predict.append(keras_model_best.predict(xtest))

print("time :", time.time() - start, "초")

In [ ]:
x_test = x['행주대교_수위'][-432:]

In [ ]:
x_test = x_test.reshape((1, 432, 1))

In [ ]:
x_test.shape

In [ ]:
y_predict = keras_model_best.predict(x_test)

In [ ]:
y_predict.shape

In [ ]:
pd.Series(list(y_predict))

In [ ]:
수위.loc[consecutive, '행주대교_수위'] = y_predict

In [ ]:
수위.loc[consecutive, '행주대교_수위']

In [ ]:
# unconsecutive 부분 보간

unconsecutive2 = [unconsecutive-1, unconsecutive, unconsecutive+1]
수위.loc[unconsecutive2, '행주대교_수위'] = 수위.loc[unconsecutive2, '행주대교_수위'].interpolate()

In [ ]:
수위['청담대교_수위'].isnull().sum()

In [ ]:
수위['청담대교_수위'].to_csv('/Volumes/GoogleDrive/.shortcut-targets-by-id/1rUx7_7LmBqAQTbWEWVTGvw0_d0v6N2ZT/신입기수 프로젝트/Dataset/CNN_전처리', index = False, encoding = 'cp949')

# for jupyter
# /Volumes/GoogleDrive/.shortcut-targets-by-id/1rUx7_7LmBqAQTbWEWVTGvw0_d0v6N2ZT/신입기수 프로젝트/Dataset/CNN_전처리
# for colab
# /content/drive/MyDrive/신입기수 프로젝트/Dataset/CNN_전처리/행주대교_수위.csv